.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 47.7175em 194.4em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.Check:before {
      background-position: 0em 0em;
      width: 1.7719em;
      height: 1.3688em;
  }




  .icon.arrow-down:before {
      background-position: 0em -1.4em;
      width: 12.9em;
      height: 12.9em;
  }




  .icon.arrow-left:before {
      background-position: 0em -14.3em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-right:before {
      background-position: 0em -62.1em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-up:before {
      background-position: 0em -109.9em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.dirrect:before {
      background-position: 0em -116.3em;
      width: 1.7em;
      height: 1.1em;
  }




  .icon.like:before {
      background-position: 0em -117.4em;
      width: 2.8em;
      height: 2.6em;
  }




  .icon.mail:before {
      background-position: 0em -120em;
      width: 1.7em;
      height: 1em;
  }




  .icon.map:before {
      background-position: 0em -121em;
      width: 1em;
      height: 1.4031em;
  }




  .icon.mastercard:before {
      background-position: 0em -122.5em;
      width: 5.4em;
      height: 4em;
  }




  .icon.menu:before {
      background-position: 0em -126.5em;
      width: 45.9em;
      height: 45.9em;
  }




  .icon.phone:before {
      background-position: 0em -172.4em;
      width: 1em;
      height: 1.6em;
  }




  .icon.plus:before {
      background-position: 0em -174em;
      width: 2.3em;
      height: 2.3em;
  }




  .icon.profile:before {
      background-position: 0em -176.3em;
      width: 2.1em;
      height: 2.6em;
  }




  .icon.search:before {
      background-position: 0em -178.9em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.soc-facebook:before {
      background-position: 0em -181.5em;
      width: 1em;
      height: 1.8em;
  }




  .icon.soc-instagram:before {
      background-position: 0em -183.3em;
      width: 1.8em;
      height: 1.8em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -185.1em;
      width: 1.8em;
      height: 1.5em;
  }




  .icon.soc-vk:before {
      background-position: 0em -186.6em;
      width: 2.1149999999999998em;
      height: 1.194em;
  }




  .icon.visa:before {
      background-position: 0em -187.8em;
      width: 6.4em;
      height: 4em;
  }




  .icon.сart:before {
      background-position: 0em -191.8em;
      width: 2.3em;
      height: 2.6em;
  }





