/*! block pagination*/
.pagination-wrap
	f()
	justify-content: flex-end
.pagination
	min-width 360px
	flex(between)
	width: 40%
	margin-bottom: 100px
.pagination-arrow
	.icon
		size 20px
.pagination-cont
	flex(between)
	width: 70%
.pagination__el
	&:hover
		background: black
		color white
		border 1px solid black
	tr(all)
	flex(mid)
	round()
	size 40px
	border 1px solid $border-color
/*!block pagination end */