@import 'rupture'
@import "variable/_function.styl"
@import "variable/_ie.styl"
@import "variable/_fonts.styl"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/_elements.styl"
@import "variable/_constant.styl"
//@import "variable/_grid.styl"

rupture.scale = 0 480px 768px 992px 1200px
rupture.scale-names = 'xs' 'sm' 'md' 'lg'

// Grid breakpoints
$breakpoints = {
	'xs' :  0,
	'sm' : 480px,
	'md' : 768px,
	'lg' : 992px,
	'xl' : 1200px
}

// Number of columns
$columns = 12

init($breakpoints, $columns)

body
	@extend .type--main
	font-family $v-font
	//color $main-text-color
	line-height 1.2
	letter-spacing 0.01em
	
.main-cont
	center(1200px,10px)

//==== content-tool ====
.content-tool
	padding: 40px 0
	flex(between)

.breadcrumbs
	f()

.content
	position: relative

.breadcrumbs__el
	margin-right: 20px
	position: relative
	&:last-child
		margin-right: 0
		&:after
			content ''
			display: none
	&:after
		content '>'
		position: absolute
		right: -15px
.back
	f()
	justify-content: center
	.icon
		size 17px
		fill #2f2f2f
		margin-right: 10px
//.back__text
// ==== content-tool-end ====

.page-title
	@extend .type--xl
	font-weight 500
	color black
	text-align: center
	margin-bottom: 70px

.list-cont
	f()
	justify-content: space-between
	align-items: flex-start

.list-tool
	width: 240px

.filter
	margin-bottom: 30px

.filter-clear
	f()
	justify-content: flex-end
	align-items: center
	color $red
	margin-bottom: 70px
	cp()
	.icon
		margin-left: 5px
		transform rotate(45deg)
		size 10px
		fill $red

.filter__el
	border 1px solid #ebebeb
	margin-top: -1px
	//background: #f9f9f9

.filter__head
	flex(between)
	cp()
	padding: 20px

.filter__title
	color #070707

.filter__open
	flex(mid)
	cp()
	tr(all)
	.icon
		size 18px
		fill black
.filter__open--active
	transform rotate(315deg)

.filter__content
	margin-top: 20px
	display: none
	padding: 0 20px 20px 20px
	.check-el
		margin-bottom: 15px
		&:last-child()
			margin-bottom: 0px
.filter__size
	f()
	fw()

.filter__size-el
	flex(mid)
	item(4,10px)
	tr(all)
	width: 40px
	height: 30px
	border 1px solid #e1e1e1
	background-color white
	&:hover
		color white
		cursor: pointer
		border 0px
		background: black

.filter__size-el--active
	color white
	cursor: pointer
	border 0px
	background: black

.filter__color
	f()
	fw()

.filter__color-el--active
	.filter__color-ico
			opacity 1

.filter__color-ico
	tr(all)
	.icon
		size 17px
		fill white
	opacity 0

.filter__color-el--white
	border 1px solid #e1e1e1
	.icon
		fill black
.filter__color-el
	flex(mid)
	item(4,10px)
	tr(all)
	size 42px
	round()
	cp()
	&:hover
		.filter__color-ico
			opacity 1
//.filter__season
//.filter__collect
.list-content
	width:calc(100% - 280px)

.list-category-title
	@extend .type--md
	font-weight 600
	margin-bottom: 40px
	color black

.list-category__el
	margin-bottom: 20px
	color black
	line-height: 1.6
	display: block
	span
		display: inline-block
		color #828282

.nice-select
	br(0)
	display: block
	color #000000
	font-size 14px
	outline-color white!important
	box-shadow 0 1px 2px rgba(0, 0, 0, 0.21)
	border 1px solid #e9e9e9
	.list
		width: calc(100% )
		left 0px
		br(0)
		border 1px solid #dfdfdf
		border-top 0
		margin-top: 0
		li
			max-width: 100%
			text-overflow: ellipsis
			padding-right: 10px
			overflow hidden

.element-select
	padding: 10px 0

.nice-select:active, .nice-select.open, .nice-select:focus
	border 1px solid #dfdfdf

.nice-select.open
	border 0!important
	box-shadow 0 5px 24px rgba(0, 0, 0, 0.04)
	.list
		border 0!important
		box-shadow 0 5px 24px rgba(0, 0, 0, 0.04)

.select--order
	width 240px

.current
	display: inline-block
	max-width: 100%
	overflow: hidden
	text-overflow: ellipsis
	padding-right: 20px

//.list-content
.list-head
	f()
	align-items: center
	margin-bottom: 15px

.list-head__info
	f()
	align-items: center

.list-head__type
	margin-right: 10px

.list-head__number
	margin-left: auto
	color #8f8f8f

.list-first-row
	f()
	fw()
	justify-content: space-between

.list-wrap-item
	flex(between)
	fw()

.rub
	display: inline-block
	margin-left: 3px

.links-el
	display: inline-block
	margin-bottom: 25px
	margin-right: 20px

.links
	margin: 70px 0 30px 0

.block-info-wrap
	padding: 70px 0
	border-top 1px solid $border-color

.block-info__title
	@extend .type--md
	margin-bottom: 25px
	font-weight: 600

.block-info__text
	line-height:1.6


.canlike-wrap
	display grid
	grid-template-columns: 1fr 1fr 1fr 1fr
	grid-gap 20px

.canlike
	border-bottom:1px solid $border-color
	border-top:1px solid $border-color
	padding: 50px 0

.cont-gray
	background: #efefef
	position: absolute
	top:0
	left: 0px
	width: 100%
	height: 500px

.cont-gray-border
	position: relative
	width: 100%
	height: 100%
	&:after
		content ''
		position: absolute
		bottom -60px
		left 0px
		width: 100%
		height: 1px
		background: $border-color
.card-head
	f()
	justify-content: space-between
	margin-bottom: 50px

.card-head__slider
	position: relative
	width: 46%
.card-head__img
	/*position: absolute
	top 0
	left 0*/
	width: 100%

.card-head__info
	width: 46%

.card-title
	@extend .type--xl
	margin-bottom: 20px

.card-price
	f()
	margin-bottom: 50px
	align-items: center

.card-price--false
	@extend .type--lg
	opacity 0.4
	color #070707
	text-decoration line-through
	margin-right: 20px

.card-price--true
	@extend .type--lg
	color $red

.item__descr
	color #070707
	margin-bottom: 30px

.card-img__main
	width: 100%
.card-img__lg
	bg-full()
	height: 700px
	background-position: top center
	border solid 20px white

.card-filter
	f()
	margin-bottom: 20px
	.select--order
		width: 190px

.card-filter__size
	margin-right: 20px

.card-get
	f()
	margin-bottom: 55px

.card-get__btn
	@extend .btn--mark
	@extend .btn--md
	width: 100%
	padding: 15px 50px

.card-get__like
	padding: 10px 15px
	border 1px solid $border-color
	margin-left: 10px
	tr(all)
	&:hover
		border 1px solid $red
		.icon
			fill $red
	.icon
		tr(all)
		size 24px

.card-tool
	width: 400px
	padding-bottom: 45px

.card-size
	cp()
	color #5a5a5a
	margin-bottom: 20px
	border-bottom 1px dashed #302c2b
	display: inline-block

.card-isset
	cp()
	color #5a5a5a

.card-descr-warp
	margin-bottom: 100px

/*.card-descr-cont
	f()
	justify-content:flex-end

.card-descr
	width: 46%*/

.card-tab-head
	flex(between)
	margin-bottom: 40px
	height: 62px

.card-tab__el
	up()
	cp()
	text-align: center
	width: 100%
	padding: 20px 0
	color #5a5a5a

.card-tab__el--active
	color black
	border-bottom:1px solid black

/*.card-attr-title, .card-attr-dot
	display table-cell

.card-attr-title
	white-space nowrap

.card-attr-dot
	border-bottom 1px dotted gray
	width 100%

.card-attr-row
	display table
	width: 100%

.card-attr-value
	display table-cell
	white-space nowrap
	width: 245px*/

.card-attr
	display: none

.card-attr--active
	display: block

.card-attr__text
	margin-bottom: 40px

.card-attr-row
	f()
	align-items: flex-end
	margin-bottom: 20px

.card-attr-title
	padding-right: 5px
	display table-cell
	white-space nowrap

.card-attr-row__cont
	display: table
	width: 55%
	align-items: flex-end

.card-attr-dot
	display table-cell
	width: 100%
	border-bottom .5px dashed gray

.card-attr-value
	width: 45%
	padding-left: 5px

.card-img-row
	margin-top: 20px
	padding: 0 20px
	display grid
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr
	grid-gap 20px
	margin-bottom: 150px

.card-img__el
	bg-full()
	cp()
	position: relative
	height: 100px
	background-position: top center
	&:hover
		.card-img__filter
			opacity .3
.canlike--title
	@extend .type--lg
	up()
	text-align: center
	margin-bottom: 50px

.card-img__filter
	position: absolute
	top 0
	left 0
	tr(all)
	width: 100%
	height: 100%
	background: black
	z-index 5
	opacity 0
@import "../module/**/*"
