include block_html/_style.pug
include block_html/_include.pug

+header()

.content
	.main-cont
		.content-tool
			.breadcrumbs
				-
					var items = [
					'Главная',
					'Одежда',
					'Жакеты и пиджаки',
					'Жакеты',
					'Жакет - Perfect Mango'
					];
				each item in items
					a(href="#").breadcrumbs__el #{item}
			a(href="#").back
				+icon("dirrect","icon")
				.back__text Вернуться в каталог
		h1.page-title Статья из блога

	.main-cont

		.type-date 06 СЕНТЯБРЯ 2017

		.type-title С чем носить обыкновенную  рубашку? Восемь свежих сочетаний
		.type-sub-title Инструкция: как выглядеть остромодно при минимуме усилий и денежных затрат
		.type-text
			p Восенне-зимних коллекциях простая белая рубашка выглядит по-новому. Вещь больше не ассоциируется с офисным дресс-кодом, а в разных сочетаниях может напоминать об эпохе 1960-х, 1980-х и при этом <span class="spantype-mark"> гармонично вписываться  в повседневный гардероб </span>.Рубашка, как вспомогательный фон, освежает миди-юбки, широкие брюки и простые джинсы.При этом неважно происхождение сорочки: она может быть куплена у люксовых брендов Louis Vuitton, Lemaire или The Row, взята в японском масс-маркете Uniqlo или позаимствована у бойфренда или папы.

		.type-quote
			.type-quote__text На взлете популярности фольклорные мотивы, в частности знаменитый пэчворк — одежда и аксессуары, созданные из кусочков ткани разных оттенков и текстур
			.type-quote__name Омар Хайям

		table.type-table.type-table--main
			thead
				tr
					td №
					td Наименование
					td Рейтинг
					td Цена
			tbody
				- for (var i=0;i<6;i++)
					tr
						td 1
						td Кроссовки CL LTHR Reebok Classics
						td
							.star-row
								.star-row__el
									+icon("star","icon")
								.star-row__el
									+icon("star","icon")
								.star-row__el
									+icon("star","icon")
								.star-row__el
									+icon("star","icon")
								.star-row__el.star-row__el--empty
									+icon("star","icon")

						td 7 6500 руб.
		.type-container
			.type-col-6
				p Базовый гардероб на осень должен обязательно включать одну новую пару обуви. Если делать ставку на тренд в этом сезоне, безошибочным вариантом станут лодочки из темно-синего или темно-зеленого бархата — такие привлекут в стразами.
			.type-col-6
				p Базовый гардероб на осень должен обязательно включать одну новую пару обуви. Если делать ставку на тренд в этом сезоне, безошибочным вариантом станут лодочки из темно-синего или темно-зеленого бархата — такие привлекут в стразами.

		.type-container
			.type-col-4
				p Базовый гардероб на осень должен обязательно включать одну новую пару обуви. Если делать ставку на тренд в этом сезоне, безошибочным вариантом станут лодочки из темно-синего или темно-зеленого бархата — такие привлекут в стразами.
			.type-col-4
				p Базовый гардероб на осень должен обязательно включать одну новую пару обуви. Если делать ставку на тренд в этом сезоне, безошибочным вариантом станут лодочки из темно-синего или темно-зеленого бархата — такие привлекут в стразами.
			.type-col-4
				.type-block-mark
					.type-block-mark__title ИНТЕРЕСНО
					p Базовый гардероб на осень должен обязательно включать одну новую пару обуви. Если делать ставку на тренд в этом сезоне, безошибочным вариантом станут лодочки из темно-синего или темно-зеленого бархата — такие привлекут в стразами.

		.type-img
			img(src="img/type-img.jpg", alt="")

		.type-img-row
			.type-img-row__el
				img(src="img/img-row.jpg", alt="")
			.type-img-row__content
				.type-img-row__title Для тех, кто по-прежнему предпочитает выгуливать зимой свою шубу
				p Очень многим в последнее время приглянулись способы обматывания снуда на голове: в этом случае он выполняет две функции сразу, защищая и голову, и шею от холода. Как носить снуд в таком случае?

		.type-baner
			img(src="img/type-baner.jpg", alt="")
			.type-baner-filter
			.type-baner-content
				.type-baner-title новости в россии
				.type-baner-text В России появился парфюмерный бренд Phuong Dang


+footer()
include ./block_html/_script.pug
