include block_html/_style.pug
include block_html/_include.pug

+header()
.content
	.main-cont
		.content-tool
			.breadcrumbs
				-
					var items = [
					'Главная',
					'Одежда',
					'Жакеты и пиджаки',
					'Жакеты',
					'Жакет - Perfect Mango'
					];
				each item in items
					a(href="#").breadcrumbs__el #{item}
			a(href="#").back
				+icon("dirrect","icon")
				.back__text Вернуться в каталог
		.page-title Жакеты и пиджаки

	.main-cont
		.list-cont
			.list-tool
				.filter
					//filter size
					.filter__el
						.filter__head
							.filter__title Размер
							.filter__open
								+icon("plus","icon")
						.filter__content
							.filter__size
								-	var items = ['XXS','XS','S','XXS','L','XL','XXL'];
								each item in items
									.filter__size-el #{item}
					//filter-color
					.filter__el
						.filter__head
							.filter__title Цвет
							.filter__open
								+icon("plus","icon")
						.filter__content
							.filter__color
								-  var items = ['#ed4e50','#b85ec9','#4c51c9','rgb(125, 204, 237)','#74d99e','#accb4d','#e8e85a','#f49e41','#b65737','#c1c1c1','#000000'];
								each item in items
									.filter__color-el(style="background-color:" + item )
										.filter__color-ico
											+icon("Check","icon")
								.filter__color-el.filter__color-el--white
									.filter__color-ico
										+icon("Check","icon")
					//filter-season
					.filter__el
						.filter__head
							.filter__title Сезон
							.filter__open
								+icon("plus","icon")
						.filter__content
							.filter__season
							- for (var i=0;i<6;i++)
								+checkbox('Пункт фильтра')
					//filter-collect
					.filter__el
						.filter__head
							.filter__title Коллекция
							.filter__open
								+icon("plus","icon")
						.filter__content
							.filter__collect
							- for (var i=0;i<6;i++)
								+checkbox('Пункт фильтра')
				.filter-clear
					.filter-clear__text Сбросить фильтры
					+icon("plus","icon")
				.list-category-title Категории
				.list-category
					-
						var items = [
							'Верхняя одежда ',
							'Платья и сарафаны ',
							'Джемперы, свитеры ',
							'Блузы и рубашки ',
							'Брюки ',
							'Джинсы ',
							'Юбки ',
							'Пиджаки и костюмы ',
							'Толстовки и олимпийки ',
							'Футболки и поло ',
							'Домашняя одежда',
							'Спортивные костюмы',
							'Комбинезоны '
						];
					each item in items
						a(href="#").list-category__el #{item}
							span 4222

			.list-content
				//list head
				.list-head
					.list-head__info
						.list-head__type Сортировать:
						select.select-beauty.select--order
							option По популярности
							option По цене
							option По размеру
					.list-head__number 176 товаров
				//list wrap
				.list-wrap
					.item--big(style="background-image:url('img/sale-baner.jpg')")
					- for (var i=0;i<7;i++)
						+item()
				+pagination()
		.links
			-
				var items = [
					'Жакеты',
					'Пиджаки',
					'Длинные платья',
					'Короткие платья',
					'Юбки',
					'Красные платья',
					'Джинсы',
					'Распродажа',
					'Новинки',
					'Тапочки',
					'Шляпы',
					'Сарафаны',
					'Популярное',
					'Скидки',
					'Синий',
					'Желтый',
					'К лету',
					'Большой размер'
					];
			each item in items
				a(href="#").links-el.link--mark #{item}

	.block-info-wrap
		.main-cont
			.block-info
				.block-info__title Женские жакеты и пиджаки Осень - Зима 2017 - 2018
				p.block-info__text Стильные, красивые жакеты и пиджаки для женщин от ведущих законодателей моды в интернет-магазине BUTIK.RU занимают особое место. Поэтому вы всегда сможете приобрести актуальные модели, над которыми трудились лучшие дизайнеры. Достоинства сотрудничества с нами – оригинальная продукция, высококлассное обслуживание.




+footer()
include ./block_html/_script.pug
