include block_html/_style.pug
include block_html/_include.pug

+header()
.main-cont
	br
	br
	br
	h1 MAIN
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit beatae id ullam, quaerat facere totam autem facilis velit eligendi labore, officia nobis consequuntur aspernatur. Nam veniam voluptatum eum numquam alias, earum libero ipsa aspernatur, minus dicta, soluta sit quos, dolorum delectus tenetur commodi vel fuga. Nisi placeat optio animi, aliquid consectetur quam reprehenderit accusantium dolores neque, omnis veniam minus assumenda expedita dolor corrupti aspernatur! Animi similique eos iure quo voluptatum rem, maiores aut vero voluptate aliquid, placeat doloribus, quas in facere! Iusto nobis voluptates a ex sint tempora, voluptatum dolores rem ducimus facilis!

	p Commodi quae ad dolore, minima delectus dolorum expedita sit nemo quas tempora amet ducimus, repellendus sapiente, earum unde excepturi, debitis ea laudantium. Obcaecati placeat tenetur ab amet dicta rerum laboriosam, ratione quasi rem repellat unde excepturi temporibus omnis. Temporibus culpa, possimus in aliquid ullam, nobis sequi id nemo doloribus explicabo eligendi nihil illo aliquam, tempore voluptatem expedita beatae, incidunt porro praesentium. Fugiat quas officia tenetur earum voluptatibus. Ad iste impedit nisi laboriosam delectus debitis quia ex dignissimos harum quas autem incidunt maxime quos unde consectetur ut adipisci, hic repellendus minima eligendi sit. Ipsam atque inventore quia eum

	p possimus molestiae autem! Ea sed dolorum tempora ad amet non tenetur quaerat labore porro perspiciatis dolor beatae, nesciunt eveniet quibusdam consectetur accusamus expedita voluptates nulla veniam, mollitia consequatur nobis perferendis ipsa laborum? Placeat sequi, modi cum labore culpa aut ipsam esse recusandae obcaecati, quo et aperiam enim aspernatur distinctio totam veritatis explicabo. Quod ullam dolor ipsam quae incidunt quas aperiam vitae consequatur. Impedit voluptas dolores alias eligendi perferendis animi, modi mollitia, maiores possimus suscipit facilis molestias accusamus porro minus! Quas eveniet itaque nulla soluta reiciendis voluptates porro cum, numquam inventore animi quis repellendus, iure officia expedita optio suscipit nesciunt nobis ipsum dolorum amet! Voluptas distinctio, qui voluptates cumque ullam fugiat?
	br
	br
	br
+footer()

include ./block_html/_script.pug
