/*.item
	width: 32%*/

.item--big
	+below(1024px)
		display: none
	height: 400px
	bg-full()
	grid-column: 1 / 3

.item
	cp()
	position: relative
	height: 400px
	background: white
	tr(all)
.item--active
	.item__content
		padding: 20px
		z-index 20
		//overflow inherit
		width:calc(100% + 40px)
		height 600px
		top -20px
		left -20px
		z-index 20
		box-shadow 0 1px 2px rgba(0, 0, 0, 0.21)
	.item__img--one
		opacity 0
		//transform translateY(-100%)
	.item__img--two
		opacity 1
	.item__construct
		height: auto
		//transform translateY(0%)

.item__content
	//transition box-shadow, height .6s
	transition box-shadow .6s
	overflow hidden
	height: 400px
	background: white
	position: absolute
	top 0
	left 0
	width: 100%
.item__construct
	tr(all)
	height: 0
	width: 100%
	background: white

.item__img--two
	opacity 0
	//transform translateY(-100%)

.item__img
	width: 100%
	height: 280px
	bg-full()
	margin-bottom: 20px
	background-position: top center
	position: absolute
	top 0
	left 0
	transition all .8s
//.item__info

.item__price
	+below(768px)
		font-size: 16px
	margin-bottom: 20px
	f()
	align-items: center

.item__price-false
	+below(768px)
		font-size: 22px
	@extend .type--md
	opacity 0.4
	color #070707
	text-decoration line-through
	margin-right: 20px

.item__price-true
	+below(768px)
		font-size: 22px
	@extend .type--md

.item__descr
	color #070707
	margin-bottom: 30px

.item__img-wrap
	position: relative
	overflow hidden
	height: 280px
	margin-bottom: 30px

.list-wrap
	/*+below(1200px)
		grid-template-columns: repeat(auto-fill, 260px)*/
	+below(1024px)
		justify-content center
	+below(768px)
		grid-template-columns: repeat(auto-fill, 260px)
		margin-bottom: 30px
	display grid
	grid-template-columns: repeat(3, 1fr)
	grid-gap 20px
	margin-bottom: 50px
.item-label
	position: absolute
	top 20px
	z-index 5
	padding: 5px 10px
	text-align: center
	color white

.item-label--sale
	background: $red

.item-label--time
	background: #2c9cc0

.item__construct-title
	text-align: center
	color #878787
	margin-bottom: 10px

.item-size
	f()
	margin-bottom: 20px

.item-size__el
	+below(1200px)
		padding: 5px
		font-size: 12px
	width: 100%
	padding: 10px
	border 1px solid $border-color
	text-align: center
	margin-left: -1px

.item-size__el--disable
	color rgba(7, 7, 7, 0.20)

.item-get
	flex(between)

.item-get__btn
	+below(1200px)
		font-size: 12px
		padding: 15px
	@extend .btn--mark
	@extend .btn--md
	width: 100%
	padding: 15px 50px

.item-get__like
	+below(1200px)
		padding: 8px 15px
	padding: 10px 15px
	border 1px solid $border-color
	margin-left: 10px
	tr(all)
	&:hover
		border 1px solid $red
		.icon
			fill $red
	.icon
		tr(all)
		size 24px