.subscribe
	+below(768px)
		padding: 30px 0
	bgi('bg-subscribe.jpg')
	bg-full()
	flex(mid)
	fl()
	padding: 70px 0
	margin-top: 20px
.subscribe__title
	+below(768px)
		margin-bottom: 30px
	@extend .type--lg
	font-weight 500
	color white
	text-align: center
	margin-bottom: 40px
	up()
	line-height:1.6
.subscribe-form
	+below(768px)
		width: 100%
		padding: 10px
	input
		+below(768px)
			width: 100%
			margin-bottom: 20px
			margin-right: 0px
		@extend .input
		br(0)
		tr(all)
		background: none
		border 1px solid #605e68
		padding: 20px 25px
		margin-right: 10px
		width: 400px
		color white
		&:focus
			border 1px solid white

.subscribe-form__row
	+below(768px)
		fw()
	flex(between)
filter__size
.subscribe-form__get
	+below(768px)
		width: 100%
	@extend .btn
	tr(all)
	background: $red
	color white
	padding: 22px 25px
	&:hover
		background: lighten($red,5)
		color white

.footer-menu
	+below(1024px)
		display: none
	flex(mid)
	padding: 40px 0
	border-bottom:1px solid $border-color

.footer-menu__el
	+below(768px)
		text-align: center
		width: 100%
	font-weight: 600
	margin-bottom: 10px
	up()
	color black

.footer-menu__wrap
	+below(768px)
		flex(mid)
		fw()
		width: 100%
		padding: 0 10px
		min-width auto
	min-width 620px
	flex(between)
	width: 40%

.footer-wrap
	+below(768px)
		padding: 20px 0
	padding: 40px 0

.footer
	+below(768px)
		flex(mid)
		fl()
		fw()
	f()
	justify-content: space-between

.footer__about
	+below(1024px)
		width: 33%
		padding: 25px 10px
	+below(768px)
		order 2
		width: 100%
		max-width 300px
		border 0
		padding: 10px
	width: 46%
	padding: 25px 0
	padding-right: 15%
	border-right:1px solid $border-color

.footer-title
	+below(768px)
		display: none
	@extend .type--md
	up()
	font-weight 600
	color black
	margin-bottom: 30px

.footer-type
	+below(768px)
		margin-bottom: 10px
		text-align: center
	color #898989
	margin-bottom: 30px

.footer-type--black
	color black

.footer-contact
	color black
.footer__soc
	+below(1024px)
		width: 33%
		padding: 25px 10px
	+below(768px)
		width: 100%
		max-width 300px
		order 3
		padding: 10px
	width: 35%
	padding: 25px 0
	flex(mid)
	align-items: flex-start

.footer__soc-cont
	+below(1024px)
		width: 100%
	width: 70%
	.soc-row
		+below(768px)
			flex(mid)
		margin-bottom: 30px

.soc-row
	f()
	.soc-el
		tr(all)
		&:last-child
			margin-right: 0
		&:hover
			background: black
			border 0px
			.icon
				fill white
		margin-right: 10px
		size 44px
		round()
		border 1px solid $border-color
		flex(mid)
		.icon
			tr(all)
			size 18px
			fill black
//.icon
.footer__pay
	+below(1024px)
		width: 33%
	+below(768px)
		order 1
		width: 100%
		max-width 300px
		padding: 10px
	width: 20%
	padding: 25px 0
.pay-row
	+below(768px)
		flex(mid)
		margin-bottom: 10px
	f()
	align-items: flex-start
	margin-bottom: 30px
	.pay-el
		margin-right: 10px
		.icon
			width: 65px
			height: 55px
		.icon.icon--master
			size 55px

.footer-link
	+below(768px)
		text-align: center
	@extend .link--mark
	display: block
	margin-bottom: 10px