-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
		'name':'Список',
		'href':'list'
		},
		{
		'name':'Карточка товара',
		'href':'card'
		},
		{
		'name':'Блог',
		'href':'blog'
		},
		{
		'name':'Контакты',
		'href':'contact'
		}
	]

