.head-top-wrap
	+below(1024px)
		display: none
	padding: 10px 0
	border-bottom:1px solid $border-color
//.main-cont
.head-top
	f()
.head-town
	cp()
	f()
	justify-content: center
	margin-right: 6%
	color red
	.icon
		margin-right: 10px
		fill red
		size 14px
//.head-town__name

.head-nav
	+below(1024px)
		width: 25%
	flex(between)
	width: 19%
//.head-nav__el

.head-phone
	f()
	justify-content: center
	margin-right: 6%
	.icon
		margin-right: 10px
		size 16px
		fill #5a5a5a
	margin-left: auto

.head-mail
	f()
	justify-content: center
	.icon
		margin-right: 10px
		size 16px
		fill #5a5a5a

.menu-wrap
	+below(1024px)
		display: none
	background: #000
	position: relative
	& > .main-cont
		position static
		+below(1024px)
			padding: 0
.menu
	flex(between)

.menu-sub
	position: absolute
	background: white
	width: 100%
	box-shadow 0 5px 5px rgba(0, 0, 0, 0.08)
	padding: 50px 0
	left 0px
	top 100%
	z-index 20
	//opacity 0
	//visibility hidden
	display: none
	transition all .6s

.menu-cont
	+below(1024px)
		width: calc(100% - 180px)
	flex(between)
	width: calc(100% - 270px)

.menu__el
	+below(1024px)
		font-size: 12px
	font-weight 600
	flex-grow 1
	&:hover
		background: white
		.menu__el-link
			color black
		& > .menu-sub
			display: block
			//opacity 1
			//visibility visible

.menu__el-link
	text-align: center
	width: 100%
	up()
	tr(all)
	text-align: center
	color white
	padding: 21px 0px
	display: inline-block

.menu-sub__title
	@extend .type--lg
	margin-bottom: 40px

.menu-sub__cont
	f()
	fw()

.menu-sub__el
	width: 24%
	color #5a5a5a
	margin-bottom: 25px

.menu-get
	+below(1024px)
		width: 170px
		padding: 20px 10px
	up()
	tr(all)
	background: $red
	color white
	padding: 21px 35px
	width: 200px
	text-align: center
	&:hover
		background: lighten($red,5)
		color white

.head
	+below(1024px)
		padding: 0
		.main-cont
			padding-left: 0
	padding: 40px 0

.head-toggle
	+above(1024px)
		display: none
	cp()
	padding: 10px
	background: #000
	margin-right: 10px
	.icon
		size 30px
		fill white
//.main-cont
.head-wrap
	flex(between)

.head-search
	width: 30%
	f()

.head-search__wrap
	f()
	align-items: center
	form
		width: 100%
	.icon
		size 26px
		margin-right: 25px
		cp()
.head-search__input
	br(0)
	border 0
	width: 100%
	padding: 10px 0
	background: white
	&:focus
		border-bottom 1px solid #cecece
	&:active
		border-bottom 1px solid #cecece

.head-logo
	flex(mid)
	fl()
	width: 40%
.head-logo__icon
	+below(1024px)
		margin-bottom: 0
	margin-bottom: 20px
	.icon
		width 240px
		max-height 30px

.head-logo__text
	+below(1024px)
		display: none
	text-align: center
	font-size: 12px

.head-tool
	width: 30%
	f()
	justify-content: flex-end

.head-tool__wrap
	flex(between)
	width: 160px

.head-tool__icon
	.icon
		tr(all)
		&:hover
			fill $red
		cp()
		size 28px
//.head-tool__icon--profile
//.head-tool__like
.head-tool__cart
	position: relative

.head-cart__val
	round()
	flex(mid)
	color white
	position: absolute
	box-shadow 0 3px 9px rgba(242, 0, 34, 0.65)
	background-color $red
	font-size: 10px
	size 22px
	top -5px
	right: -10px