mixin header()
	//block header
	//head-top
	.head-top-wrap
		.main-cont
			.head-top
				.head-town
					+icon("map","icon")
					.head-town__name Новосибирск
				.head-nav
					a(href="#").head-nav__el О нас
					a(href="#").head-nav__el Новости
					a(href="#").head-nav__el Магазины
				.head-phone
					+icon("phone","icon")
					a(href="tel:+7 916 914 08 08") +7 916 914 08 08
				.head-mail
					+icon("mail","icon")
					a(href="mailto:modno.rabota@mail.ru") modno.rabota@mail.ru

	.head
		.main-cont
			.head-wrap
				.head-logo
					a(href="#").head-logo__icon
						+icon("Logo--color","icon")
					.head-logo__text Интернет-магазин модной женской одежды. Доставка курьером и примерка в Москве!
				.head-search
					a(href="#mobile-menu").head-toggle
						+icon("menu","icon icon-menu")
						+icon("close","icon icon-menu-close")
					.head-search__wrap
						+icon("search","icon icon--desct")
						+icon("search","icon icon--mobile")
						form(action="#")
							input(type="text" placeholder="Поиск").head-search__input.input
				.head-tool
					.head-tool__wrap
						.head-tool__icon.head-tool__icon--profile
							+icon("profile","icon")
							//enter form
							.enter
								.enter-wrap
									.enter-coner
									.enter-close
										+icon("close","icon")
									.enter-title Войти
									.soc-row
										a(href="#").soc-el
											+icon("soc-instagram","icon")
										a(href="#").soc-el
											+icon("soc-twitter","icon")
										a(href="#").soc-el
											+icon("soc-facebook","icon")
										a(href="#").soc-el
											+icon("soc-vk","icon")
									.enter-line
										.enter-line__el /
									form(action="#")
										input(type="text" placeholder="email").input
										input(type="password" placeholder="Пароль").input
										div(data-modal="fogot").modal-get.enter-fogotlink Забыли пароль?
										.enter-get-row
											input(type="submit" value="Войти").enter-get

									.enter-account Нет аккаунта?
										div(data-modal="register").modal-get.enter-account-get Зарегистрируйтесь
							//enter form-end
						.head-tool__icon.head-tool__like
							+icon("like","icon")
						.head-tool__icon.head-tool__cart
							.head-cart__val 10
							+icon("сart","icon")

							//basket
							.basket
								.basket-wrap
									.basket-coner
									.basket-close
										+icon("close","icon")
									.basket-title Мой заказ
									.basket__head
										.basket__head-name Наименование
										.basket__head-numb Кол-во
										.basket__head-price Цена
										.basket__head-remove
									.basket-cont
										- for (var i=0;i<8;i++)
											.basket__row
												.basket__name
													.basket__el
														.basket__el-img(style="background-image:url('img/basket-item.jpg')")
														.basket__el-info
															.basket__el-title Кроссовки New Balance #{i}
															.basket__el-info Размер 38
												.basket__numb
													.basket__numb-text 2 шт.
												.basket__price 14 900
													.rub a
												.basket__remove
													+icon("garbage","icon")

									.basket-total
										.basket-total__price Сумма: 19 400
											.rub a
										.basket-total__get
											a(href="#").basket-total__btn Оформить заказ
											a(href="#").basket-total__link Просмотр корзины
							//basket-end
	.menu-wrap
		.main-cont
			.menu
				.menu-cont
					-
						var items = [
							'Юбки',
							'Брюки',
							'Топы',
							'Блузы и рубашки',
							'Жакеты',
							'Аксессуары',
							'Верхняя одежда'
							];
					each item in items
						.menu__el
							a(href="#").menu__el-link #{item}
							.menu-sub
								.main-cont
									.menu-sub__wrap
										.menu-sub__title Женские платья
										.menu-sub__cont
											-
												var subitems = [
													'Вечерние платья ',
													'Вязаные и трикотажные платья ',
													'Джинсовые платья ',
													'Коктейльные платья',
													'Летние платья ',
													'Офисные платья ',
													'Платья-миди ',
													'Платья-макси ',
													'Платья-мини ',
													'Пляжные платья и туники ',
													'Повседневные платья ',
													'Сарафаны ',
													'Свадебные платья ',
													'Спортивные платья'
												];
											each subitem in subitems
												a(href="#").menu-sub__el #{subitem}
				a(href="#").menu-get Выбрать образ

	//head-top-end
	//block header end