mixin header()
	//block header
	//head-top
	.head-top-wrap
		.main-cont
			.head-top
				.head-town
					+icon("map","icon")
					.head-town__name Новосибирск
				.head-nav
					a(href="#").head-nav__el О нас
					a(href="#").head-nav__el Новости
					a(href="#").head-nav__el Магазины
				.head-phone
					+icon("phone","icon")
					a(href="tel:+7 916 914 08 08") +7 916 914 08 08
				.head-mail
					+icon("mail","icon")
					a(href="mailto:modno.rabota@mail.ru") modno.rabota@mail.ru
	.head
		.main-cont
			.head-wrap
				.head-search
					.head-toggle
						+icon("menu","icon")
					.head-search__wrap
						+icon("search","icon icon--desct")
						+icon("search","icon icon--mobile")
						form(action="#")
							input(type="text" placeholder="Поиск").head-search__input.input
				.head-logo
					a(href="#").head-logo__icon
						+icon("Logo--color","icon")
					.head-logo__text Первый женский интернет-магазин <br> с онлайн стилистом и твоим образом
				.head-tool
					.head-tool__wrap
						.head-tool__icon.head-tool__icon--profile
							+icon("profile","icon")
						.head-tool__icon.head-tool__like
							+icon("like","icon")
						.head-tool__icon.head-tool__cart
							.head-cart__val 10
							+icon("сart","icon")

	.menu-wrap
		.main-cont
			.menu
				.menu-cont
					-
						var items = [
							'Юбки',
							'Брюки',
							'Топы',
							'Блузы и рубашки',
							'Жакеты',
							'Аксессуары',
							'Верхняя одежда'
							];
					each item in items
						.menu__el
							a(href="#").menu__el-link #{item}
							.menu-sub
								.main-cont
									.menu-sub__wrap
										.menu-sub__title Женские платья
										.menu-sub__cont
											-
												var subitems = [
													'Вечерние платья ',
													'Вязаные и трикотажные платья ',
													'Джинсовые платья ',
													'Коктейльные платья',
													'Летние платья ',
													'Офисные платья ',
													'Платья-миди ',
													'Платья-макси ',
													'Платья-мини ',
													'Пляжные платья и туники ',
													'Повседневные платья ',
													'Сарафаны ',
													'Свадебные платья ',
													'Спортивные платья'
												];
											each subitem in subitems
												a(href="#").menu-sub__el #{subitem}
				a(href="#").menu-get Выбрать образ

	//head-top-end
	//block header end